<section class="main__bio" id="first-section">

    <!--Bio Foto-->
    <div class="bio__foto-container">
        <img src="/assets/images/brand/foto-alday_500x500.webp"
            alt="Foto de Rafa Alday extraída del videoclip de 'Tenemos que hablar'" class="bio__foto">
    </div>

    <!--Bio Contenido Texto-->
    <article class="bio__data">
        <p class="bio__text">Me llamo Rafa Alday y empecé a tocar la guitarra con 13 años. No pasó mucho tiempo hasta
            que descubrí que podía crear mis propias composiciones y, algo después, que podía crear mis propias letras.
            Eso supuso un cambio radical en mi vida ya que, desde encontes, siempre he sentido la necesidad de dedicar
            tiempo a crear. Más adelante, estudié sonido para poder crear mi propias producciónes.</p>
        <br>
        <p class="bio__text">En 2017, publiqué en todas las plataformas digitales mi primer EP "La jungla (o mirar
            atrás)", para el cual también grabé y monté mis propios videoclips (visita la sección <a
                routerLink="/trabajos">trabajos</a> para ver algunos de ellos.)</p>
        <p class="bio__text">En 2018 publiqué mi segundo EP, titulado "Elucubraciones", un trabajo conceptual en el que
            las canciones se relacionan entre sí.</p>
        <br>
        <p class="bio__text">En 2021 publiqué mi primer álbum completo, "Una victoria, mil derrotas", para el cual
            también produje mis propios videoclips.</p>
        <br>
        <p class="bio__text">Por último, durante 2022, 2023 y 2024, he estado haciendo directos en Twitch donde creo
            loops en directo y compongo canciones con seguidores.</p>
    </article>

</section>