/*----------ESTILOS BIOGRAFÍA----------*/

.main__bio{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 3rem auto 6rem auto;
    padding: 0 5rem;
}

.bio__foto-container{
    border-radius: 50%;
    overflow: hidden;
    animation-name: foto;
    animation-duration: 1s;
}

@keyframes foto {
    from {
        transform:translateX(-100px);
    }
    to{
        transform:translateX(0);
    }
}

.bio__foto{
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    vertical-align:middle;
    transition: transform .3s ease-in-out;
}

.bio__foto:hover{
    transform: scale(1.1);
}

.bio__data{
    flex-basis: 60%;
    max-width: 700px;
    font-size: 2rem;
    text-wrap: pretty;
    animation-name: data;
    animation-duration: 1s;
}

.bio__data p{
    text-align: justify;
}

.bio__data a{
    font-weight: 400;
    color: rgb(226, 147, 43);
}

@keyframes data {
    from {
        transform:translateX(100px);
    }
    to{
        transform:translateX(0);
    }
}

.main__bio-more{
    margin-bottom: 2rem;
}

.bio-more__subtitle{
    text-wrap: balance;
    text-align: center;
    animation-name: subtitle;
    animation-duration: 1s;
}

.bio-more__social{
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.bio-more__link{
    animation-name: list;
    animation-duration: 1s;
}

.bio-more__img{
    transition: transform .3s ease-in-out;
}

.bio-more__link:hover .bio-more__img{
    transform: rotateZ(360deg);
}

@media screen and (max-width: 1441px) {
        .bio__data{
        font-size: 1.8rem;
    }
    
    .bio-more__subtitle{
        font-size: 1.8rem;
    }

    .main__bio {
        width: 90%;
        flex-direction: column;
    }
}

@media screen and (max-width: 1025px) {
    .main__bio {
        width: 90%;
        flex-direction: column;
    }
}

@media screen and (max-width: 979px){

    .bio__foto {
        max-width: 350px;
        max-height: 350px;
    }

}

@media screen and (max-width: 550px){
    .main__bio {
        padding: 0;
    }
}