<footer class="app__footer">
    <span class="footer__rights">Todos los derechos reservados &copy; 2025</span>
    <div class="footer__createdBy">
        <span class="createdBy__text">
            Sitio web creado por 
            <a 
                href="https://alday.dev" 
                target="_blank" 
                rel="noreferrer noopener"
                class="createdBy__link"
            >
                {{ '{AldayDev}' }}
            </a>
        </span>
    </div>
    
</footer>
