.app-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--res-padding);
    height: 70px;
}

.header__brandLink{
    height: fit-content;
}

.header__brandImage{
    width: 100px;
    vertical-align: middle;
}

.header__nav{
    background-color: white;
}

.header__nav--mobile{
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    padding: 0 var(--res-padding);
    
    overflow: hidden;
    transition: height .3s ease-in-out;
}

.header__nav--screen{
    position: static;
    top: 0;
    right: 0;
}

.header__nav--opened{
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    height: auto;
}

.headerNav__pageList{
    display: flex;
    gap: 20px;
    font-size: 2.8rem;
    margin: 0 10px;
}

.headerNav__pageList--mobile{
    font-size: 3.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.headerNav__socialList{
    display: flex;
    gap: 20px;
    font-size: 2.8rem;
    margin: 0 10px;
}


.menuToggle__icon{
    height: 52px;
    scale: 1.2;
}