<header 
    class="app-header" 
    [class.bgColor--trans]="(bgColor === 'transparent')"
    [class.bgColor--white]="(bgColor === '#ffffff') || (menuOpen$ | async)"
>
    <app-logo [color]="elementsColor"></app-logo>

    <nav 
        class="header__nav"
        [class.header__nav--opened]="(menuOpen$ | async)"
        [class.header__nav--screen]="!(isCollapsed$ | async)"
        [class.header__nav--mobile]="(isCollapsed$ | async)"
        [class.bgColor--white]="(bgColor === '#ffffff') || (menuOpen$ | async)"
    >

        <ul 
            class="headerNav__pageList"
            [class.headerNav__pageList--opened]="(menuOpen$ | async)"
            [class.headerNav__pageList--closed]="!(menuOpen$ | async)"
            [class.headerNav__pageList--mobile]="(isCollapsed$ | async)"
        >
            <li class="headerNav__pageItem" [class.color--white]="(bgColor === 'transparent')">
                <a routerLink="/trabajos" class="headerNav__pageLink" (click)="closeMenu()" routerLinkActive="headerNav__pageLink--active">TRABAJOS</a>
            </li>
            <li class="headerNav__pageItem" [class.color--white]="(bgColor === 'transparent')">
                <a routerLink="/videos" class="headerNav__pageLink" (click)="closeMenu()" routerLinkActive="headerNav__pageLink--active">VÍDEOS</a>
            </li>
            <li class="headerNav__pageItem" [class.color--white]="(bgColor === 'transparent')">
                <a routerLink="/bio" class="headerNav__pageLink" (click)="closeMenu()" routerLinkActive="headerNav__pageLink--active">BIO</a>
            </li>
        </ul>

        <app-nav-icons [color]="elementsColor"></app-nav-icons>

    </nav>

    @if(isCollapsed$ | async){
    <button class="header__menuToggle" (click)="toggleMenu()">
        @if (menuOpen$ | async) {
        <!-- <img 
            src="/assets/images/icons/menu-close.svg" 
            lt="Close menu icon" 
            class="menuToggle__icon menuToggle__icon--close"
            [class.menuToggle__collapsedIcon]="!(menuOpen$ | async)"
        > -->
        <svg xmlns="http://www.w3.org/2000/svg" height="52px" viewBox="0 -960 960 960" width="52px"><path d="M256-192.35 192.35-256l224-224-224-224L256-767.65l224 224 224-224L767.65-704l-224 224 224 224L704-192.35l-224-224-224 224Z"/></svg>
        }@else{
        <img 
            src="/assets/images/icons/menu-open.svg" 
            alt="Open menu icon" 
            class="menuToggle__icon menuToggle__icon--open"
        >
        }
    </button>
    }

</header>