/* GLOBAL HEADER STYLES */

.app-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--res-padding);
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100dvw;
    background-color: white;
    z-index: 999;
}

/* BRAND SECTION */

.header__brandLink{
    height: fit-content;
}

.header__brandImage{
    width: 95px;
    vertical-align: middle;
}

/* NAV SECTION */

.header__nav{
    background-color: white;
}

.header__nav--mobile{
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    padding: 0 var(--res-padding);
    
    overflow: hidden;
    transition: height .3s ease-in-out;
}

.header__nav--screen{
    position: static;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav--opened{
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    height: auto;
}

.header__nav--opened .headerNav__socialIcon{
    width: 40px;
}

.header__nav--opened .headerNav__socialList{
    margin-bottom: 30px;
    justify-content: center;
    gap: 8%;
}

@media screen and (max-width: 500px) {
    .header__nav--opened .headerNav__socialList{
        justify-content: space-evenly;
    }
}



.headerNav__pageList{
    display: flex;
    gap: 30px;
    font-size: 2.5rem;
    margin: 0 10px;
}

.headerNav__pageList .headerNav__pageItem{
    vertical-align: middle;
}

.headerNav__pageLink::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.headerNav__pageLink:hover::after{
    opacity: 1;
}

.headerNav__pageList--mobile{
    font-size: 3.5rem;
    margin-top: 40px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
}

.headerNav__socialList{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.8rem;
    margin: 0 10px;
}

.headerNav__socialLink{
    display: flex;
    align-items: center;
}

.menuToggle__icon{
    height: 52px;
    scale: 1.1;
}

.headerNav__pageLink--active,
.headerNav__pageLink{
    position: relative;
}

.headerNav__pageLink--active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
}

.headerNav__socialIcon{
    transition: scale .2s ease-in-out;
}

.headerNav__socialLink:hover .headerNav__socialIcon{
    scale: 1.1;
}