.spotlight {
    width: 100%;
    height: calc(100dvh - 70px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
}

.spotlight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.spotlight .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    /* Color filtro */
    z-index: 1;
    pointer-events: none;
    /* Para que no interfiera con clics */
}

.spotlight__info{
    padding: 0 var(--res-padding);
    position: absolute;
    z-index: 20;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.spotlight__title{
    text-align: center;
    text-wrap: balance;
}

.spotlight__description{
    font-size: 2.3rem;
    margin-top: 20px;
    margin-bottom: 100px;
    max-width: 800px;
    text-align: center;
    text-wrap: balance;
}