.spotlight {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
}

.spotlight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.spotlight .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    /* Color filtro */
    z-index: 1;
    pointer-events: none;
    /* Para que no interfiera con clics */
}

.spotlight__info{
    padding: 0 var(--res-padding);
    padding-top: 70px;
    position: absolute;
    z-index: 20;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.spotlight__title{
    text-align: center;
    text-wrap: balance;
    animation: slide-in-up .3s ease-in-out 1s both;
}

.spotlight__description{
    font-size: 2.3rem;
    font-weight: 400;
    margin: 40px;
    max-width: 800px;
    text-align: center;
    text-wrap: balance;
    animation: slide-in-up .3s ease-in-out 1.2s both;
}

app-animated-logo{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.spotlight__linkContainer{
    /* margin: 0 80px 100px 80px; */
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    animation: slide-in-up .3s ease-in-out 1.3s both;
}

.spotlight__link{
    padding: 5px 20px;
    border-radius: 10px;
    transition: scale .3s ease-in-out;
    text-wrap: nowrap;
}

.spotlight__link:hover{
    scale: 1.1;
}

.spotlight__link--spotify{
    background-color: #3BE477;
}

.spotlight__link--apple{
    background-color: #D60017;
}

.spotlight__link--youtube{
    background-color: #FF0033;
}

.spotlight__arrowContainer{
    animation: slide-in-up 1s ease-in-out 1.5s both;
}

.spotlight__arrow{
    animation: float 2s ease-in-out infinite both;
}


.home__lastProject{
    color: black;
    padding: 0 var(--res-padding);
}

.lastProject__title{
    margin-top: 30px;
    text-align: center;
}

.lastProject__data{
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(20px);
    }100%{
        transform: translateY(0);
    }
}

@keyframes slide-in-up {
    0%{
        transform:translateY(20px);
        opacity: 0;
    }100%{
        transform:translateY(0);
        opacity: 1;
    }
}