<section class="projects__projectList"> 
    <h2 class="projectList__title">Todos mis trabajos</h2>
    <article class="projectList__sort">
        <button (click)="changeOrder()" class="projectList__sortButton">
            @if(order === 'ascendente'){
                FECHA ASCENDENTE
            }@else {
                FECHA DESCENDENTE
            }
        </button>
    </article>
    <article class="projectList__list">
        @if(projectList){
            @for (project of projectList; track $index) {
                <project-card [project]="project"></project-card>
            }
        }
    </article>
</section>
