<header class="spotlight">
    <div class="overlay"></div>
    <article class="spotlight__info">
        <h1 class="spotlight__title">BIOGRAFÍA</h1>
        <div class="spotlight__descriptionContainer">
            <p class="spotlight__description">MÁS ABAJO TE CUENTO UN POCO ACERCA DE MÍ</p>
            <p class="spotlight__description">TE DEJO A CONTINUACIÓN ALGUNAS DE MIS REDES SOCIALES</p>
        </div>
        
        <div class="spotlight__linkContainer">
            <a 
                href="https://youtube.com/@aldaymusic"
                target="_blank"
                rel="noreferrer noopener"
                class="spotlight__link spotlight__link--youtube"
            >
                    <span class="spotlight__linkText">YOUTUBE</span>
                    <img src="/assets/images/icons/youtube-white.svg" class="spotlight__linkIcon">
            </a>
            <a 
                href="https://instagram.com/aldaymusic"
                target="_blank"
                rel="noreferrer noopener" 
                class="spotlight__link spotlight__link--instagram"
            >
                <span class="spotlight__linkText">INSTAGRAM</span>
                <img src="/assets/images/icons/instagram-white.svg" class="spotlight__linkIcon">
            </a>
        </div>
        <a (click)="goToSection('first-section')" class="spotlight__arrowContainer">
            <img src="/assets/images/icons/arrow_down.svg" alt="Icono flecha" class="spotlight__arrow"/>
        </a>
    </article>
    <img src="/assets/images/brand/bg_bio.webp" alt="Foto Alday">
</header>


