
/* VARIABLES */
:root{
    --color-primary: #00031B;

    --res-padding: 15px;
}

@media screen and (min-width: 500px) {
    :root{
        --res-padding: 5%;
    }
}

@media screen and (min-width: 1024px) {
    :root{
        --res-padding: 7%;
    }
}

@media screen and (min-width: 1200px) {
    :root{
        --res-padding: 10%;
    }
}

@media screen and (min-width: 1400px) {
    :root{
        --res-padding: 12%;
    }
}

/* ESTILOS GLOBALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a:visited{
    color: inherit;
}

a{
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Passion One';
    font-size: 2.5rem;
}

app-root{
    display: grid;
    grid-template-rows: auto 1fr auto;
}