/* You can add global styles to this file, and also import other style files */

/* COLORES GLOBALES */
:root{
    --color-primary: #00031B
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Passion One';
}